<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- 引入配置文件 -->
	<context:property-placeholder location="classpath:config.properties" ignore-unresolvable="true" />

	<!-- 使用 annotation 自动扫描注册bean,并检查@Controller, @Service, @Repository注解已被注入，也可以分开注释，或者固定某个目录下 -->
	<context:component-scan base-package="com.qimooc.*">
		<!-- 不扫描 Controller, springmvc 会扫描 -->
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 注册BEAN，让spring管理后可通过ApplicationContextAware接口获取ApplicationContext种所有的BEAN -->
	<bean id="appContextReg" class="com.qimooc.spring.ApplicationContextRegister" />

	<import resource="spring-config-mybatis.xml" />

</beans>  